.App {
  text-align: center;
}

.container .header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  align-items: center;
  margin-top: 20px;
}

.form-group .input-group{
  display: flex;
  flex-direction: column ;
  padding: 0.7rem 0;
  width: 100%;
  
}

.form-group .input-group label {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.form-group .input-group input{
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s;
  width: auto;
}

.form-group .input-group input:focus {
  border-color: #282c34;
}

.form-group .input-group button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group .input-group button:hover {
  background-color: #3a3f47;
}

.display-gif{
  display: flex;
  justify-content: center;
}